<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Cars form</title>
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/btmin.css">
</head>

<body>
    <div class="container">
        <form>
            Full Name:<br>
            <input type="text" name="firstname"><br> Location:
            <br>
            <input type="text" name="lastname">
            <br> Year:
            <br>
            <input type="text" name="lastname"><br> Model:
            <br>
            <input type="text" name="lastname"><br> Type:
            <br>
            <div>
                <select name="cars">
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="fiat">Fiat</option>
                <option value="audi">Audi</option>
                <option value="volvo">Volswagon</option>
                <option value="saab">Mercedes</option>
                <option value="fiat">Tesla</option>
                <option value="audi">Toyota</option>
                <option value="volvo">Ford</option>
                <option value="saab">GMC</option>
                <option value="fiat">Mini</option>
                <option value="audi">KIA</option>
            </select>
            </div>
            <br>
            <button type="submit" value="submit">Submit!</button>
        </form>
    </div>
    <a href="/"><button type='button' class='btn col-xs-2'>Go Back</button></a>
</body>

</html>