<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>User Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class ="justify-content-center">
        <h1>Enter User Information</h1>
        <form class="form-inline my-2 my-lg-0" method="POST" action="/users">
            <label class="form-control mr-sm-2" for="Name">Name: </label>
            <input class="form-control mr-sm-2" type="text" name="name"><br>
            <label class="form-control mr-sm-2" for="Age">Age: </label>
            <input class="form-control mr-sm-2" type="number" name="age"><br>
            <input class="btn btn-primary btn-lg" type="submit" value="Submit">
        </form>
    </div>
</div>
</body>
</html>