<!DOCTYPE html>
<html>
<head>
<body>

    <!--scripts-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="../javascripts/bootstrap.js"></script>

    <!--stylesheets-->

    <link rel="stylesheet" href="../stylesheets/css/fontawesome-all.css"/>
    <link rel="stylesheet" href="../stylesheets/css/bootstrap.css"/>
    <link rel="stylesheet" href="../stylesheets/css/style.css"/>
    <title><%= title %></title>
    </head>
    <div class="container">
        <div class="row">
            <div class="col-12 bg-primary text-white h1 text-center"><%= title %></div>
        </div>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <a href="junker">
                    <img class="img-fluid rounded-circle border border-primary" src="/images/car_02.jpg">
                </a>
                <a href="vw">
                    <img class="img-fluid rounded-circle border border-primary" src="/images/car_03.jpg">
                </a>
                <a href="porshe">
                    <img class="img-fluid rounded-circle border border-primary" src="/images/car_04.jpg">
                </a>
            </div>
            <div class="col-4"></div>
        </div>
        <div class="row"></div>
    </div>




</body>
</html>
