<!DOCTYPE html>
<!--                   [ Assignment: HTML Table  ]
Objectives:
=====================================================
<>  Shall pass information from route to the template
<>  Shall display date passed from the route to template files
==============================================================-->

<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Dojo Survey</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fredoka+One|Montserrat|Open+Sans|Poiret+One">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css">
  <!-- <link rel="stylesheet" href="../static/css/styles.css"> -->
</head>

<body>
  <!-- Header container -->
  <header>
    <a href="index.html"><img src="imgs/codingdojo.png"></a>
    <a href="index.html"><h2><span>OBI</span>FENIX</h2></a>
  </header>

  <!-- Main container -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">

        <form class="form-horizontal" action="/profile" method="POST">
          <h1 class="primary">Dojo Survey</h1>
          <div class="form-group">
            <label class="control-label" for="name">Name: </label>
            <input type="text" class="form-control" name="username" placeholder="Fullname">
          </div>

          <div class="form-group">
            <label class="control-label">Dojo Locations: </label>
            <select class="form-control primary" name="location">
               <option>Mountain View</option>
               <option>Dallas</option>
            </select>
          </div>

          <div class="form-group">
            <label class="control-label">Favorite Language: </label>
            <select class="form-control primary" name="language">
               <option>Javascript</option>
               <option>Python</option>
            </select>
          </div>

          <div class="from-group">
            <label class="control-label">Comment <span style="color:#eee;">(Optional)</span>: </label>
            <textarea class="form-control primary" name="comment" rows="5"></textarea>
          </div>
          <div class="form-group submit">
             <button type="submit" class="btn btn-default">Submit</button>
             <!-- <button type="submit" class="btn btn-default btn-primary active">Submit</button> -->
          </div>
        </form>
      </div>
    </div>
  </div>
</body>

</html>
