
<div style="text-align:center; color:black;">
   <p  class="counter">The Button has been Pushed</p>
   <h2 class="counter" id="counter"><span class="text-primary">0</span> Time(s)</h2>
   <hr style="width:35%; background: #0000002e;">
   <h3 class="btn-head">Push the Button to Update the Count!</h3>
   <div class="container">
      <div class="row justify-content-md-center inliner">
         <div class="col">
            <form id="countform">
               <input type="submit" id="count" class="btn btn-lg push-btn btn-primary" value="PUSH THE EPIC BUTTON">
            </form>
         </div>
      </div>
   </div>
   <div class="container reseting">
      <div class="row justify-content-md-center inliner">
         <div class="col inliner-right">
            <form id="resetform">
                <input type="submit" id="reset" class="btn reset-btn btn-danger" value="Reset Count">
            </form>
         </div>
      </div>
   </div>
</div>
