<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Counter</title>

    <!-- Required CSS Files [ BOOTSTRAP 4 ] -->
    <link rel="stylesheet" href="css/Bootstrap4.css">
    <link rel="stylesheet" href="css/Bootstrap4.min.css">
    <link rel="stylesheet" href="css/btmin.css.css">

    <style>
      .counter   { font-size:6vw; margin: 0rem auto 1rem; color: #f1e7e782; }
      .btn-head  { margin: 2rem auto; color: #fff; }
      .push-btn  { padding: 2rem 5rem; }
      .reset-btn { padding: .5rem 2rem; }
      .jumbotron {
         padding: 0;
         margin: 0;
         min-height: 100vh;
         background-size: cover;
         background-position: center;
         background-repeat: no-repeat;
         background-image: url("imgs/blur-bg.jpg");
      }
      input#count, input#reset {letter-spacing: .2rem; }
      .inliner { display: flex; justify-content: space-around; }
    </style>
</head>

<body>
   <div class="jumbotron">
      <div class="container">
         <%- body %>
      </div>
   </div>

   <!-- Load Required Javascript Files -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
   <script src="js/main.js" charset="utf-8"></script>

</body>

</html>
