<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>

        <title>Cats</title>
    </head>
    <body>
        <div class="container">
            <!-- top nav -->
            <nav class="navbar navbar-dark bg-dark">
                <span class="navbar-text">
                    <h1>EJS cats</h1>
                </span>
            </nav>
            <!-- end top nav -->
            <a href="/cat1"><img src="/cat1.jpg" alt="cat" class="rounded-circle" width="300" height="250"></a>
            <a href="/cat2"><img src="/cat2.jpg" alt="cat" class="rounded-circle" width="300" height="250"></a>
            <a href="/cat3"><img src="/cat3.jpg" alt="cat" class="rounded-circle" width="300" height="250"></a>
        </div>
    </body>
</html>
