
<div class="row mt-5">
   <form class="col-8 mt-4" id="chatform">
       <div class="form-row form-group">
           <label for="" class="col-6">Your Name:</label>
           <input type="text" name="name" class="col-6">
       </div>
       <div class="form-row form-group">
         <label for="" class="col-6">Dojo Location:</label>
         <select class="form-control col-6" name="location" id="location">
            <option value="Dallas">Dallas</option>
            <option value="Equatorial Guinea">Equatorial Guinea</option>
            <option value="Houston">Houston</option>
            <option value="Madrid">Madrid</option>
            <option value="Barcelona">Barcelona</option>
            <option value="Mexico City">Mexico City</option>
         </select>
      </div>
      <div class="form-row form-group">
         <label for="" class="col-6">Favorite Language:</label>
         <select class="form-control col-6" name="language" id="language">
            <option value = "Java">Java<option>
            <option value = "JavaScript">JavaScript</option>
            <option value = "Ruby">Ruby</option>
            <option value = "Python">Python</option>
            <option value = "C#">C#<option>
            <option value = "C/C++">C/C++</option>
            <option value = "English">English</option>
         </select>
      </div>
      <div class="form-row form-group"><label for="">Comment (optional):</label></div>
      <div class="form-row form-group"><textarea name="comment" id="comment" class="col-12" rows="6"></textarea></div>
      <button class="text-light btn btn-pirmary float-right" type="submit">Submit</button>
   </form>
</div>
