<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cats</title>
    <!-- Bootstrap 4 -->
    <link rel="stylesheet" type="text/css" href="style.css">
    <!-- Extras -->
    <link rel="stylesheet" type="text/css" href="extras.css">
    <!-- Bootstrap 4 | JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <style>
        #example-seven,
        .eight {
            margin-top: 5px;
            margin-left: 15px;
            border-radius: 50%;
            width: 90%;
            height: 155%;
        }
        
        .clean {
            text-align: center;
        }
    </style>
</head>

<body>
    <h1 class="display-1 head">Cats</h1>

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="row bt justify-content-around">
                    <div class="card" style="width: 18rem; height: 30rem;">
                        <img class="card-img-top eight" src="img/baby.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title clean">Baby Cat</h5>
                            <p class="card-text clean">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <div class="card-body">
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
                </div>
                <div class="row bt justify-content-around">
                    <div class="card" style="width: 18rem; height: 30rem;">
                        <img class="card-img-top eight" src="img/baby.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title clean">Baby Cat</h5>
                            <p class="card-text clean">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <div class="card-body">
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
                </div>
                <div class="row bt justify-content-around">
                    <div class="card" style="width: 18rem; height: 30rem;">
                        <img class="card-img-top eight" src="img/baby.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title clean">Baby Cat</h5>
                            <p class="card-text clean">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <div class="card-body">
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
                </div>
            </div>
</body>

</html>