<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>EJS Cats</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script>
      $(document).ready(function(){
          $('.img').click(function(){
              window.location.href = '/cat/detail';
          })
        });
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <h1 class='text'>EJS Cats</h1>
    <img class='img' src='images/cat2.jpg'>
    <img class='img' src='images/cat3.jpg'>
</body>
</html>