* { text-decoration: none !important; }

body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(0, 0, 0) !important;
    color: white; }

header {
  display: flex;
  line-height: 100%;
  padding: 1rem 2rem;
  justify-content: center; }

header a { color: white; }
header a img { width: 100px; }
header a h2 { display: none; }
header a:hover { color: #06a9e2; cursor: pointer; }
header a span { color: #06a9e2; font-family: 'Poiret One', cursive; }

div.col { margin: 2rem 10rem !important; }
div.row {
  margin: 0;
  justify-content: center;
}

h1 {
  font-family: 'Fredoka One', cursive;
  padding-right: 1rem;
  padding-bottom: 2rem;
  text-align: center;
  color: #06a9e2; }

/*   Form CSS - STARTs   */
#chatform { padding: 2rem; }
form {
   color: #06a9e2;
   border-radius: 1rem;
   transition: all .5s ease;
   border: 1px solid #343a40;
   box-shadow: 1px 0px 1px 0px; }
form:hover {
   transition: all .6s ease;
   border: 1px solid #06a9e2;
   box-shadow: 1px 0px 1px 0px; }

div.input-group-addon { width: 100%; }

label.control-label,
textarea.form-control { color: #06a9e2 !important; }

input.form-control,
textarea.form-control { color: #0062cc !important; }

.border {
   border: 1px solid #2196F3!important;
   background: #363738a3 !important;
   padding: 1rem 2rem !important;
   border-radius: 1rem !important; }

.non-border {
    border: 1px solid transparent!important; }

button.btn {
  color: inherit;
  margin-top: 1rem;
  padding: .5rem 1rem;
  justify-content: flex-end;
  background-color: transparent;
  border: .5px solid #06a9e2 !important; }

button.btn:hover {
  cursor: pointer;
  background-color: #06a9e2;
  border: .5px solid #06a9e2 !important; }
/*   Form CSS - ENDs   */

/* Feedback Chat-Messages - STARTs */
ul#messages { list-style-type: none; margin: 0; padding: 0; }
ul#messages div.row div.col-xs-12 { display: flex;}
ul#messages .form-row  { margin: 0; }
ul#messages li:nth-child(even) { background: #eeeeee30; }
ul#messages li:nth-child(odd) { background: #467fce33; }
/* Feedback Messages - chat */


@media (max-width: 676px) {
   div.row { justify-content: center; }
}

@media (min-width: 767px) {
  h1 { text-align: left; }
  header a h2 { font-family: 'Open Sans', sans-serif; }
  header { justify-content: space-between; }
  div.row { margin: 0 2rem !important; }
  div.container {
    padding: 5rem 10rem !important;
    justify-content: center !important; }
}
