<!DOCTYPE html>
<html lang="en">

<head>
    <title>Cars</title>
    <meta charset="UTF-8">
    
    <!-- css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/btmin.css">

    <!-- javascript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>

<body>
    <!-- Header/navbar container -->
    <nav class="navbar navbar-expand-sm navbar-dark">
        <a class="navbar-brand" href="/">
            <img src="https://hg101.kontek.net/tmnt/tmnt_files/tmnt-profile-shredder-mirage-a.jpg" alt="Logo" style="width:40px;">
        </a>
        <a href="/">Home</a> |
        <a href="/cats">Cats</a>
    </nav>

    <div class="container">
        <div class="row">
            <h1 class='col-md-12'>Car Images</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <image src='/images/car1' alt='Responsive image' class="img-rounded col-xs-4" height='200'></image>
                    <image src='/images/car2' alt='Responsive image' class="img-rounded col-xs-4" height='200'></image>
                    <image src='/images/car3' alt='Responsive image' class="img-rounded col-xs-4" height='200'></image>
                    <image src='/images/car4' alt='Responsive image' class="img-rounded col-xs-4" height='200'></image>
                    <image src='/images/car5' alt='Responsive image' class="img-rounded col-xs-4" height='200'></image>
                    <image src='/images/car6' alt='Responsive image' class="img-rounded col-xs-4" height='200'></image>
                </div>
            </div>
        </div>
    </div>
    <!-- End Container -->
</body>

</html>