<!DOCTYPE html>
<html lang="en">

<head>
    <title>Cats</title>
    <meta charset="UTF-8">

    <!-- css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/btmin.css">
    
    <!-- javascript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>

<body>
    <!-- Header/navbar container -->
    <nav class="navbar navbar-expand-sm navbar-dark">
        <a class="navbar-brand" href="/">
            <img src="https://hg101.kontek.net/tmnt/tmnt_files/tmnt-profile-shredder-mirage-a.jpg" alt="Logo" style="width:40px;">
        </a>
        <a href="/">Home</a> |
        <a href="/cars">Cars</a>
    </nav>
    <div class="container">
        <div class="row">
            <h1 class='col-xs-12'>Cat Images</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="width: 100%; height: 75vh; overflow-y: auto;">
                    <image src='/images/cat1' alt='Responsive image' class="img-rounded col-xs-4" height='260px'></image>
                    <image src='/images/cat2' alt='Responsive image' class="img-rounded col-xs-4" height='260px'></image>
                    <image src='/images/cat3' alt='Responsive image' class="img-rounded col-xs-4" height='260px'></image>
                    <image src='/images/cat4' alt='Responsive image' class="img-rounded col-xs-4" height='260px'></image>
                    <image src='/images/cat5' alt='Responsive image' class="img-rounded col-xs-4" height='260px'></image>
                    <image src='/images/cat6' alt='Responsive image' class="img-rounded col-xs-4" height='260px'></image>
                    <image src='/images/cat7' alt='Responsive image' class="img-rounded col-xs-4" height='260px' width='215px'></image>
                    <image src='/images/cat8' alt='Responsive image' class="img-rounded col-xs-4" height='260px' width='215px'></image>
                    <image src='/images/cat9' alt='Responsive image' class="img-rounded col-xs-4" height='260px' width='216px'></image>
                </div>
            </div>
        </div>
    </div>
    <!-- End Container -->
</body>

</html>