<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
        <title>Cars</title>
    </head>
    <body>
        <div class="container">
            <h2>Awesome Cars</h2>
            <img src="/alfa.jpg" alt="alfaromeo">
            <img src="/peugeot.jpg" alt="peugeot">
            <img src="/tesla.jpg" alt="tesla">
        </div>
    </body>
</html>
