<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
        <title>Form</title>
    </head>
    <body>
        <div class="container">
            <h2>Add a new car:</h2>
            <form action="">
                <p>
                    <label for="make">Enter Car Make:</label>
                    <input type="text" name="make">
                </p>
                <p>
                    <label for="model">Enter Car Model:</label>
                    <input type="text" name="model">
                </p>
                <p>
                    <button class="btn btn-outline-dark" type="submit">add Car</button>
                </p>
            </form>
        </div>
    </body>
</html>
