<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TITLE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="js/main.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-8 result" >
                <h4>Submitter information</h4>
                <div class="row">
                    <label for="" class="col-6">Your Name:</label>
                    <p class="col-6"><%= req.name %></p>
                </div>
                <div class="row">
                    <label for="" class="col-6">Dojo Location:</label>
                    <p class="col-6"><%= req.location %></p>
                </div>
                <div class="row">
                    <label for="" class="col-6">Favorite Language:</label>
                    <p class="col-6"><%= req.lang %></p>
                </div>
                <div class="row">
                    <label for="" class="col-6">Comment:</label>
                    <p class="col-6"><%= req.comment %></p>
                </div>
               <a class="btn btn-primary float-right" href="/" role="button">Go back</a>
            </div>
        </div>
    </div>
</body>
</html>
