<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href="/css/bootstrap.css">
    <link rel='stylesheet' href="/css/login-card.css">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <title>Login</title>
</head>
<body style="font-family: 'Playfair Display', serif;">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="navbar-brand pt-0 pb-0" href="/">
                    <img src="" width="25%" height="auto" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/">Add Trip</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/">Logout</a>
                        </li>
                    </ul>
                </div>
    	    </div>
	    </nav>
	</header>
	<div class="container Absolute-Center is-Responsive mt-5">
   		<div class="card card-container shadow-lg p-3 mb-5 bg-white rounded">
       		<img id="profile-img" class="profile-img-card" src="" />
       		<p id="profile-name" class="profile-name-card"></p>
       		<form class="form-signin" action="/" method="POST">
           		<span id="reauth-email" class="reauth-email"></span>
           		<input type="email" name="email" class="form-control" placeholder="Email address" required autofocus>
           		<input type="password" name="password" class="form-control" placeholder="Password" required>
           		<div id="remember" class="checkbox">
               		<a href="/" class="forgot-password">Click here to register!</a>
           		</div>
           		<div class="wrapper">
               		<span class="group-btn  col-lg-6">     
                   		<button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">login</button>
               		</span>
           		</div>
       		</form>
            <!-- <ul class="messages">
    	        <li class='text-danger'{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
           	</ul> -->
   		</div>
	</div>
</body>
</html>