<!doctype html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Counter</title>
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="css/Bootstrap4.css">
      <link rel="stylesheet" href="css/Bootstrap4.min.css">
      <link rel="stylesheet" href="css/btmin.css.css">
   </head>

   <body>
      <div class="container">
      <div class="row justify-content-center"><h2>Counter</h2></div>
      <div class="row justify-content-center"><h4><%= session.counter %> times.</h4></div>
      <div class="row justify-content-center"><a name="" id="" class="btn btn-secondary" href="/destroy" role="button">reset</a></div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/B4M.js"></script>
  </body>
</html>
