<!DOCTYPE html>
<html lang="en">

<head>
    <title>Cars</title>
    <meta charset="UTF-8">
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/btmin.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <h1 class='col-md-2'>Car Images</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <image src='/images/car1' alt='Responsive image' class="img-rounded col-xs-4" height='200'></image>
                    <image src='/images/car2' alt='Responsive image' class="img-rounded col-xs-4" height='200'></image>
                    <image src='/images/car3' alt='Responsive image' class="img-rounded col-xs-4" height='200'></image>
                    <image src='/images/car4' alt='Responsive image' class="img-rounded col-xs-4" height='200'></image>
                    <image src='/images/car5' alt='Responsive image' class="img-rounded col-xs-4" height='200'></image>
                    <image src='/images/car6' alt='Responsive image' class="img-rounded col-xs-4" height='200'></image>
                    <div class="col-xs-12">
                        <a href="/"><button type='button' class='btn col-xs-2'>Go Back</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Container -->
</body>

</html>