<!DOCTYPE html>
<html lang="en">

<head>
    <title>Cats</title>
    <meta charset="UTF-8">
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/btmin.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <h1 class='col-xs-12'>Cat Images</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <image src='/images/cat1' alt='Responsive image' class="img-rounded col-xs-4" height='260px'></image>
                    <image src='/images/cat2' alt='Responsive image' class="img-rounded col-xs-4" height='260px'></image>
                    <image src='/images/cat3' alt='Responsive image' class="img-rounded col-xs-4" height='260px'></image>
                    <image src='/images/cat4' alt='Responsive image' class="img-rounded col-xs-4" height='260px'></image>
                    <image src='/images/cat5' alt='Responsive image' class="img-rounded col-xs-4" height='260px'></image>
                    <image src='/images/cat6' alt='Responsive image' class="img-rounded col-xs-4" height='260px'></image>
                    <div class="col-xs-12">
                        <a href="/"><button type='button' class='btn col-xs-2'>Go Back</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Container -->
</body>

</html>