<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cats Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<style>
    h1{
        text-align: center;
    }
    body{
        background-color:black;
        color:azure;
    }
    .spacey{
        margin-left: 8%;
    }
    .pad{
        padding: 10px;
    }
</style>
</head>
<body>
    <div class="container" >
        <div class ="justify-content-center pad">
        <h1>Dallas Cats</h1>
        <a class="spacey" href="/cat/1">
            <img src="../images/cat-lying-on-side.jpg" width="300" height="225">
        </a>
        <a href="/cat/2">
            <img src="../images/scared-kitten.jpg" width="300">
        </a>
        <a href="/cat/3">
            <img src="../images/scared-kitten2.jpg" width="300" height="270">
        </a>
        <div class="footer"><h1>They are just Purrrfect!</h1></div>
        </div>
    </div>
</body>
</html>