<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Car Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../stylesheets/bootstrap-4.1.1-dist/css/bootstrap.css"
</head>
<body>
<div class ="form-control">
<h1>Enter New Car Form</h1>
<form>
    <label for="FirstName">FirstName: </label>
    <input type="text" name="fname"><br>
    <label for="LastName">LastName: </label>
    <input type="text" name="lname"><br>
    <label for="Car Model">Car Model: </label>
    <input type="text" name="fname"><br>
    <label for="Year">Year: </label>
    <input type="date" name="lname"><br>
    <label for="female">Male</label>
    <input type="radio" name="gender" id="male" value="male"><br>
    <label for="female">Female</label>
    <input type="radio" name="gender" id="female" value="female"><br>
    <label for="other">Other</label>
    <input type="radio" name="gender" id="other" value="other"><br><br>
    <input type="submit" value="Submit">
</form>
</div>
</body>
</html>