
<div style="text-align:center; color:black;">
   <div class="container">
      <div class="row justify-content-md-center inliner">
         <div class="col">
            <form id="greenForm">
               <input type="submit" class="btn btn-lg color-btn" value="Green">
            </form>
         </div>
         <div class="col inliner-right">
            <form id="blueForm">
                <input type="submit" class="btn color-btn" value="Blue">
            </form>
         </div>
         <div class="col inliner-right">
            <form id="pinkForm">
                <input type="submit" class="btn color-btn" value="Pink">
            </form>
         </div>
      </div>
   </div>
</div>
